<!DOCTYPE HTML>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <title>Vue.js do jeito ninja!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<body>
  <div id="app">
    <br><br><br><br><br><br>
    <navbar></navbar>
    <menu-bar :items="[{ label: 'A empresa'}, { label: 'Serviços'}]"></menu-bar>
  </div>

  <template id="nav">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <menu-bar :items="topNav" @emit-click="getLink">
        </menu-bar>
        <!-- Neste exemplo, estamos importando o template menu-bar e colocando ele
        dentro de outro template chamado navbar. -->
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </template>

  <template id="menu">
    <ul class="navbar-nav mr-auto">
      <li v-for="(item, index) in items"
          class="nav-item">
        <a @click.stop.prevent="emitClick(index)"
           class="nav-link" href="#">{{item.label}}</a>
      </li>
    </ul>
  </template>

  <script src="https://unpkg.com/vue"></script>
  <script>
  // Criando componentes para usar em toda app.
  // Nome component + um objeto que seram opçoes do componente
  Vue.component('navbar', {
    template: '#nav',
    data() {
      return {
        topNav: [{ label: 'Home'}, { label: 'Link'}, { label: 'Disabled'}]
      }
    },
    methods: {
      getLink(index) {
        alert(this.topNav[index].label);
      }
    }
  });
  Vue.component('menu-bar', {
    template: '#menu',
    props: { // props = Propriedade
      items: {
        type: Array, // Tipos aceitaveis  String | Array | Object | Boolean
        required: true
      }
    },
    methods: {
      emitClick(index) {
        this.$emit('emit-click', index);
      }
    }
    });
    var app = new Vue({
      el: "#app",
      data: {
        titulo: "Vue.js do jeito ninja!",
      }
    });
  </script>
</body>

</html>
<!--
Primeiro pegamos o index do item com o v-for no template menu,
passamos o index para o link na função emitClick, exemplo:
<a @click.stop.prevent="emitClick(index)"
class="nav-link" href="#">{{item.label}}</a>

Agora criamos uma função chamada emitClick no componente "menu-bar"
e passamos como parametro o index que foi pegado.
Esta função retornara um $emit, que e uma tag reservada do VueJs justamente
para emissão de dados.

O primeiro parametro que deve ser passado para a tag $emit,
deve ser o nome do evento que ela executara e o segundo
parametro seria os dados que ela vai emitir, que no nosso caso
sera o index.

Ex: this.$emit('emit-click', index);

O "this" e usado para pegar a variavel index do nosso methods.

E vamos escutar(listener) o evento do click passando o "emit-click"
como parametro para a tag <menu-bar>, porem o emit-click
deve executar algo, que no caso sera a função getLink,
e como nosso getLink esta dentro do nosso componente navbar,
ele sera executado normalmente.
E a função do getLink e a seguinte:

getLink(index) {
        alert(this.topNav[index].label);
      }

Ele recebe o index como parametro e retorna um alert pegando o
item do topNav de acordo com seu index, e retorna para
nos no Browser o seu label.
-->
